.loaderContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.loader {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid var(--color-side);
  border-top: 3px solid var(--color-accent-secondary);
  animation: spinner 1s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
