.title {
  margin-bottom: 80px;
  color: var(--color-accent-secondary);
  composes: font-design-headline-l from global;
}

.fields {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 40px;
}

.button {
  margin-bottom: 20px;
}
