.circle,
.button {
  border-radius: 50%;
}

.button {
  border: none;
  background-color: var(--color-accent-tertiary);
  position: relative;
  width: 150px;
  height: 150px;
  cursor: pointer;
}

.circle {
  position: absolute;
  border: 2px solid var(--color-accent-secondary);
  top: -11px;
  left: -1px;
  width: 148px;
  height: 148px;
}

.button svg {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(56px, 48px);
}
