@import url('assets/fonts/font-faces.css');

body {
  margin: 0;

  * {
    box-sizing: border-box;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.app[data-theme='light'] {
  --color-background: #fff;
  --color-text: #1a1a1a;
  --color-background-rules: #f4eaa9;
  --color-background-raiting: #ecffc5;
  --color-background-team: var(--color-accent-secondary);
  --color-second-text-raiting: var(--color-accent-main);
}

.app[data-theme='dark'] {
  --color-background: #1a1a1a;
  --color-text: #fff;
  --color-background-rules: #41443c;
  --color-background-raiting: #511928;
  --color-background-team: #6a5428;
  --color-second-text-raiting: var(--color-accent-tertiary);
}

.app {
  --font-family: 'Montserrat Alternates', sans-serif;
  --font-family-design: 'Mail Ray Stuff', sans-serif;

  --font-spacing-design: 1px;
  --font-size-design-l: 100px;
  --font-size-design-m: 32px;
  --font-size-m: 16px;
  --font-size-s: 14px;
  --font-size-xs: 12px;
  --font-size-l: 20px;

  --color-side: #ccc;
  --color-accent-main: #209b19;
  --color-accent-main-hover: #2bcf22;
  --color-accent-secondary: #fc7f61;
  --color-accent-secondary-hover: rgba(252, 127, 97, 0.8);
  --color-accent-tertiary: #f8e356;
  --color-accent-critical: #f05163;
  --color-accent-warning: #eb7c06;

  --border-radius: 10px;

  font-family: var(--font-family);
  min-height: 100vh;
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
}

.font-design-headline-l {
  font-family: var(--font-family-design);
  letter-spacing: var(--font-spacing-design);
  font-size: var(--font-size-design-l);
}

.font-design-headline-m {
  font-family: var(--font-family-design);
  letter-spacing: var(--font-spacing-design);
  font-size: var(--font-size-design-m);
}

.font-base-xs {
  font-family: var(--font-family);
  font-size: var(--font-size-xs);
}

.font-base-s {
  font-family: var(--font-family);
  font-size: var(--font-size-s);
}

.font-base-m {
  font-family: var(--font-family);
  font-size: var(--font-size-m);
}

.font-base-l {
  font-family: var(--font-family);
  font-size: var(--font-size-l);
}

.scrollbar {
  padding-right: 10px;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--color-side);
  }
}

.containerHome {
  padding: 30px 120px 80px;
}

.containerSectionHome {
  border-radius: 40px 40px 0 0;
}
