.containerTeam {
  composes: containerHome containerSectionHome from global;
  background-color: var(--color-background-team);
  margin-top: -30px;
}

.title {
  composes: font-design-headline-l from global;
  color: var(--color-accent-tertiary);
  margin-top: 80px;
  width: 58%;
}

.teamContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  color: var(--color-white);
}

.members {
  display: flex;
  flex-direction: column;
  gap: 32px;
  color: #fff;
}

.text {
  font-size: 32px;
  font-weight: 600;
  text-align: center;
}

.avatar img {
  width: 200px;
}
