.containerTeam {
  background-color: var(--color-background-team);
  padding-bottom: 0 !important;
  margin-top: -30px;
  z-index: 3;
}

.title {
  composes: font-design-headline-l from global;
  color: var(--color-accent-tertiary);
  margin-top: 80px;
  width: 58%;
}

.teamContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  color: white;
  margin-bottom: 100px;
}

.members {
  display: flex;
  flex-direction: column;
  gap: 32px;
  color: #fff;
}

.text {
  font-size: 32px;
  font-weight: 600;
  text-align: center;
}

.avatar img {
  width: 200px;
}

.footer {
  color: var(--color-background);
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

:global(.app[data-theme='dark']) {
  .footer {
    color: var(--color-text);
  }
}
