.textField {
  min-width: 450px;

  &[data-error='true'] {
    .label {
      color: var(--color-accent-critical);
    }

    .field {
      border-color: var(--color-accent-critical);
    }
  }
}

.field {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 13px 19px;
  border-radius: var(--border-radius);
  border-width: 1px;
  border-style: solid;
  border-color: var(--color-accent-main);
}

.label {
  color: var(--color-accent-main);
  font-weight: 500;

  & + .input {
    text-align: right;
  }
}

.input {
  composes: font-base-m from global;
  background: none;
  border: none;
  color: var(--color-text);
  padding: 0;
  flex-grow: 1;

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: var(--color-side);
  }
}

.multiline {
  flex-direction: column;
  gap: 6px;

  .input {
    text-align: left;
    resize: none;
  }
}

:global(.app[data-theme='dark']) .input::placeholder {
  opacity: 0.4;
}

.errorLine {
  padding-left: 20px;
  margin-top: 5px;
  color: var(--color-accent-critical);
  font-size: var(--font-size-xs);
  min-height: 15px;
}
