.button {
  composes: font-design-headline-m from global;
  min-width: 250px;
  padding: 8px;
  border-radius: 30px;
  border-width: 2px;
  border-style: solid;
  cursor: pointer;
  transition: background-color 0.2s, border-color 0.2s, color 0.2s;
}
