.link {
  color: var(--color-accent-main);
  text-decoration: none;
  font-size: var(--font-size-m);
  font-weight: 500;
  transition: color 0.2s;

  &:hover {
    color: var(--color-accent-main-hover);
  }
}
