.containerRating {
  composes: containerHome containerSectionHome from global;
  background-color: var(--color-light-yellow);
  margin-top: -30px;
  font-size: 32px;
}

.divider {
  width: 100%;
  border: 2px solid var(--color-accent-secondary);
}

.title {
  composes: titleHome from global;
  color: var(--color-accent-secondary);
  margin-top: 80px;
  line-height: 1;
}

.text {
  text-align: right;
  width: 53%;
}

.text span {
  color: var(--color-accent-main);
  text-decoration: underline;
}

.table {
  margin: 60px auto 0;
  width: 60%;
  border-radius: 10px;
  border: 1px solid var(--color-accent-secondary);
}

.bodyTable {
  border-bottom: 1px solid var(--color-accent-secondary);
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.bodyTable:last-child {
  border-bottom: none;
}

.table td {
  padding: 10px;
}
