.emojiListContainer {
  position: absolute;
  top: -8px;
  left: 40px;
  display: flex;
  border-radius: 10px;
  padding: 5px;
  background-color: var(--color-side);
  flex-wrap: wrap;
  width: 400px;
}

.emoji {
  font-size: 1em;
  cursor: pointer;
}
