.emojiListContainer {
  position: absolute;
  top: -8px;
  left: 40px;
  display: flex;
  border-radius: 10px;
  padding: 5px;
  background-color: var(--color-background);
  border: 1px solid var(--color-accent-secondary);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
  flex-wrap: wrap;
  width: 400px;
}

.emoji {
  font-size: 1em;
  cursor: pointer;
}
